{% extends "landing_template.html" %}
{% load static %}
{% block title %}Inicio{% endblock %}

{% block content %}
    <div class="container-fluid" width="100vw">
        <div class="row justify-content-center rounded-4 mx-1 align-items-center shadow-sm" id="content_card">
            <div class="col-lg-12 text-center">
                <h2 class="fs-3 fw-bold mb-3">Bienvenido a GM-Express</h2>
                <p class="fs-6 fw-normal text-secondary lh-lg">Somos una empresa chilena dedicada a ofrecer servicios de alimentación de alta calidad. Explora nuestro sitio para conocer más sobre nuestros servicios y valores.</p>
            </div>
        </div>
    </div>
{% endblock %}
